<div class="viewer-container">
    <div #rendererContainer class="renderer-container"></div>

    <div class="controls-container">
        <div class="button-group">
            <button mat-raised-button color="primary" (click)="resetToBuilding()" [disabled]="isLoadingFloor">
                <mat-icon>home</mat-icon>
                Torna all'edificio
            </button>
            <button mat-raised-button color="primary" (click)="goBack()" [disabled]="navigationHistoryLength <= 1">
                <mat-icon>arrow_back</mat-icon>
                Indietro
            </button>
        </div>
    
        <div class="separator"></div>
    
        <div class="button-group">
            <button mat-raised-button color="primary" (click)="enableLinkMode()" [disabled]="isLoadingFloor">
                <mat-icon>add_link</mat-icon>
                Aggiungi Link
            </button>
            <button mat-raised-button color="warn" (click)="enableRemoveLinkMode()" [disabled]="isLoadingFloor">
                <mat-icon>link_off</mat-icon>
                Rimuovi Link
            </button>
            <button mat-raised-button color="warn" (click)="removeAllLinks()" [disabled]="isLoadingFloor">
                <mat-icon>clear_all</mat-icon>
                Rimuovi Tutti
            </button>
        </div>
    </div>

    <div class="loading-overlay" *ngIf="isLoadingFloor">
        <mat-spinner diameter="48"></mat-spinner>
        <p>Caricamento in corso...</p>
    </div>
</div>